.seconds-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin: 20px;
}

.digits, .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 150px; 
    background-color: #000000;
    border: 2px solid #aaaaaa; 
    font-size: 4rem; 
    color: #dbdbdb;
    border-radius: 5px;
    box-shadow: black 1px 4px 5px;
}
.digits{
    font-family: Arial, sans-serif;
}


